@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  margin: 0;
}


body::before {
  content: "";
  position: fixed;
  inset: 0;
  background:
    radial-gradient(circle at 20% 20%, rgba(139,92,246,0.15), transparent 40%),
    radial-gradient(circle at 80% 30%, rgba(99,102,241,0.15), transparent 40%),
    radial-gradient(circle at 50% 80%, rgba(168,85,247,0.12), transparent 50%);
  z-index: -1;
} 
/* body {
  color: #111827;
  background:
    radial-gradient(circle at 15% 20%, rgba(168,85,247,0.08), transparent 40%),
    radial-gradient(circle at 85% 60%, rgba(99,102,241,0.06), transparent 45%),
    radial-gradient(circle at 50% 90%, rgba(139,92,246,0.05), transparent 50%),
    #f9fafb;
} */
 body {
  background: radial-gradient(
      circle at 20% 20%,
      rgba(139, 92, 246, 0.25),
      transparent 40%
    ),
    radial-gradient(
      circle at 80% 30%,
      rgba(99, 102, 241, 0.25),
      transparent 40%
    ),
    radial-gradient(
      circle at 50% 80%,
      rgba(168, 85, 247, 0.2),
      transparent 50%
    ),
    #f8fafc;
}

/* .dark body {
  color: #f3f4f6;
  background:
    radial-gradient(circle at 15% 20%, rgba(168,85,247,0.25), transparent 40%),
    radial-gradient(circle at 85% 60%, rgba(99,102,241,0.20), transparent 45%),
    radial-gradient(circle at 50% 90%, rgba(139,92,246,0.18), transparent 50%),
    #07070c;
} */
 .dark body {
  background: radial-gradient(
      circle at 20% 20%,
      rgba(139, 92, 246, 0.25),
      transparent 40%
    ),
    radial-gradient(
      circle at 80% 30%,
      rgba(99, 102, 241, 0.25),
      transparent 40%
    ),
    radial-gradient(
      circle at 50% 80%,
      rgba(168, 85, 247, 0.2),
      transparent 50%
    ),
    #020617;
}

* {
  transition: background-color .3s ease, color .3s ease, border-color .3s ease;
}

section {
  scroll-margin-top: 72px;
}